<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
    <node pkg="emergency_stop" name="emergency_stop" output="screen" respawn="false" type="main.py"/>
	<group ns="follow_me">
		<node pkg="follow_me" name="Follow" respawn="true" output="screen" type="Follow"/>
		<node pkg="follow_me" name="follow_start_node" respawn="false" output="screen" type="start_node.py"/>
	</group>
	<group ns="move">
		<node pkg="move" name="MovementVelocityDesignation" output="screen" respawn="false" type="MovementVelocityDesignation"/>
	</group>

	<node name="ydlidar_node"  pkg="ydlidar"  type="ydlidar_node" output="screen" respawn="false" >
		<param name="port"         type="string" value="/dev/ydlidar"/>  
		<param name="baudrate"     type="int"    value="128000"/>
		<param name="frame_id"     type="string" value="laser_frame"/>
		<param name="low_exposure"  type="bool"   value="false"/>
		<param name="resolution_fixed"    type="bool"   value="true"/>
		<param name="auto_reconnect"    type="bool"   value="true"/>
		<param name="reversion"    type="bool"   value="true"/>
		<param name="angle_min"    type="double" value="-180" />
		<param name="angle_max"    type="double" value="180" />
		<param name="range_min"    type="double" value="0.1" />
		<param name="range_max"    type="double" value="16.0" />
		<param name="ignore_array" type="string" value="" />
		<param name="samp_rate"    type="int"    value="9"/>
		<param name="frequency"    type="double" value="7"/>
		</node>
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4"
	args="0.2245 0.0 0.2 0.0 0.0  0.0 /base_footprint /laser_frame 40" />
</launch>