<launch>
  <group ns="followme">
    <node pkg="followme" name="Follow" output="screen" respawn="true" type="Follow"/>
  </group>
  <group ns="move">
    <node pkg="move" name="MovementVelocityDesignation" output="screen" respawn="true" type="MovementVelocityDesignation"/>
  </group>
  <include file="$(find ydlidar)/launch/lidar.launch"/>
</launch>